.stage {
  position: fixed;
  inset: 0;
  background: black;
  overflow: hidden;

  container-type: size;
}

.viewport {
  position: absolute;
  overflow: hidden;
  background: #000;
}

.map {
  position: absolute;
  left: 50%;
  top: 50%;

  height: 100%;
  width: 200%;

  transform: translate(-50%, -50%);

  background-image: url("../../assets/forest.jpg");
  background-size: cover;
  background-position: center;
}

.bug {
  position: absolute;

  left: 50%;
  top: 25%;

  width: 2%;
  aspect-ratio: 1/1;
  border-radius: 999px;
  background: rgb(255, 217, 0);
}

.bat {
  position: absolute;
  width: 4%;
  aspect-ratio: 1/1;
  background: red;
  border: 2px solid blue;
  box-sizing: border-box;
}
