.background {
  position: fixed;
  inset: 0;
  background-color: black;
  overflow: hidden;
}

.viewport {
  position: absolute;
  overflow: hidden;
  height: 100%;
}

.map {
  position: absolute;
  background-image: url("../../assets/forest.jpg");
  background-size: contain;
  background-position: center;
}

.bug {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;

  aspect-ratio: 1/1;
  height: 4%;

  border-radius: 1em;
  background: rgb(255, 217, 0);
}

.bat {
  position: absolute;
  transform: translate(-50%, -50%);

  aspect-ratio: 1/1;
  height: 4%;
  background: red;
}

.scan {
  position: absolute;
  transform: translate(-50%, -50%);

  aspect-ratio: 1/1;
  height: 4%;
  background: none;
  outline: 0.5vh solid rgba(0, 127, 255, 0.75);
  border-radius: 100em;
}
