.background {
  position: fixed;
  inset: 0;
  background-color: black;
  overflow: hidden;
}

.viewport {
  position: absolute;
  overflow: hidden;
  height: 100%;
}

/* Map is centered in the viewport, and cropped by viewport overflow */
.map {
  position: absolute;
  left: 50%;
  top: 50%;

  background-image: url("../../assets/forest.jpg");
  background-size: contain;
  background-position: center;
}

.bug {
  position: absolute;
  left: 50%;
  top: 25%;

  aspect-ratio: 1/1;
  height: 4%;

  border-radius: 1em;
  background: rgb(255, 217, 0);

  transform: translate(-50%, -50%);
}

.bat {
  position: absolute;

  aspect-ratio: 1/1;
  height: 4%;

  background: red;
  border: 2px solid blue;

  /* critical: left/top act as the bat's center */
  transform: translate(-50%, -50%);
}
