.background {
  position: fixed;
  inset: 0;
  background-color: black;
  overflow: hidden;
}

.viewport {
  position: absolute;
  overflow: hidden;
  height: 100%;
}

.map {
  position: absolute;
  background-image: url("../../assets/forest.jpg");
  background-size: cover;
  background-position: center;
}

.bug {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;

  aspect-ratio: 1/1;
  height: 4%;

  border-radius: 1em;
  background: rgb(255, 217, 0);
  opacity: 0.5;
}

.bat {
  position: absolute;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
}
.bat-sprite {
  position: absolute;

  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  aspect-ratio: 1/1;
  width: 500%;
  background-color: rgba(0, 0, 0, 0);
}
.bat-sprite * {
  position: absolute;

  aspect-ratio: 1/1;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  image-rendering: pixelated;
}
.bat-head {
  background-image: url("../../assets/bat-sprites/bat_head.png");
}
.bat-wings {
  background-image: url("../../assets/bat-sprites/bat_wings.png");
}
.bat-torso {
  background-image: url("../../assets/bat-sprites/bat_torso.png");
}

.scan {
  position: absolute;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;

  background: none;
  outline: 0.5vh solid rgba(0, 127, 255, 0.75);
  border-radius: 100%;
}

.points {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
}

.timer {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
