.viewport {
  position: fixed;
  inset: 0;
  overflow: hidden;
  background: black;
}

.world {
  position: absolute; /* IMPORTANT: inside viewport */
  left: 0;
  top: 0;
  background-color: rgb(29, 38, 116);
  background-image: url("../../assets/forest.jpg");
  background-size: contain;
}

.player {
  position: absolute;
  width: 4vw;
  height: 4vw;
  background: red;
  border: 2px solid blue;
  box-sizing: border-box;
}

.debug {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 2;
  color: red;
  font-family: monospace;
}
