:root {
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  outline: 2px solid blue;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
  container-type: size;
}
