.menu {
  position: absolute;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 256px;

  --fa_ratio: 1/1.5;
  --fa_minW: 128px;
  --fa_maxFill: 0.875;
}
